recipes-node-red/node-red-experience/files/doorbell.json
[{"id":"52fd00ca.93669","type":"upm-grove-rgb-lcd","z":"696f8ae9.48f0b4","name":"","platform":"512","r":0,"g":0,"b":"0","row":0,"column":0,"x":731,"y":177,"wires":[]},{"id":"ce44feb.ad98","type":"UPM-Grove-Button","z":"696f8ae9.48f0b4","name":"","platform":"512","pin":"4","interval":1000,"x":340,"y":238,"wires":[["b95d5b23.1d0ef8","adee99de.ece4d8"]]},{"id":"18935139.1a00ef","type":"UPM-Grove-Buzzer","z":"696f8ae9.48f0b4","name":"","platform":"512","volume":"1.0","pin":"5","x":720,"y":279,"wires":[]},{"id":"b95d5b23.1d0ef8","type":"function","z":"696f8ae9.48f0b4","name":"LCD","func":"if (msg.payload == 1) {\n    msg.payload = \"ding dong!      \";\n    msg.lcdColor = {r: 0, g:255, b: 0};\n}\nelse{\n    msg.payload = \"doorbot ready\";\n    msg.lcdColor = {r: 255, g:255, b: 255};\n}\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":178,"wires":[["52fd00ca.93669"]]},{"id":"adee99de.ece4d8","type":"function","z":"696f8ae9.48f0b4","name":"Buzzer","func":"\nreturn msg;","outputs":1,"noerr":0,"x":528,"y":277,"wires":[["18935139.1a00ef"]]}]
